
 .header {
  /* padding: 1rem 1rem; */
  width: 100%;
  z-index: 9;
}
#masthead{
  /* background-color: white; */
}
.main-navigation ul li a:hover, .main-navigation ul li:hover > a, .site-title a:hover, a.cart-contents:hover, .site-header-cart .widget_shopping_cart a:hover, .site-header-cart:hover > li > a, .site-header ul.menu li.current-menu-item > a, .main-navigation ul li a, .site-title a, ul.menu li a, .site-branding h1 a, .site-footer .storefront-handheld-footer-bar a:not(.button), button.menu-toggle, button.menu-toggle:hover, .handheld-navigation .dropdown-toggle {
  font-weight: bold;
}
.main-navigation ul li a, .site-title a, ul.menu li a, .site-branding h1 a, .site-footer .storefront-handheld-footer-bar a:not(.button), button.menu-toggle, button.menu-toggle:hover, .handheld-navigation .dropdown-toggle{
  /* color:white; */
}
.main-navigation ul.menu>li>a, .main-navigation ul.nav-menu>li>a{
  padding: 0.5rem;
}
.site-header[role="banner"]{
  /* padding-bottom: 1rem !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  padding-top: 2.5rem !important; */
  padding: 0rem;
}
.site-branding{
  /* display: none !important; */
}
.storefront-primary-navigation .col-full{
  display: flex;
  align-items: center;
  justify-content: flex-end !important;
}

.main-navigation ul.menu, .main-navigation ul.nav-menu{
  /* display: flex; */
  /* flex-direction: row; */
}

.site-header[role="banner"] > .col-full{
  display: none !important;

}
.main-navigation ul.menu>li>a, .main-navigation ul.nav-menu>li>a{
  /* padding: 0 1rem !important; */
}

.main-navigation{
  /* position: relative;
  left: inherit; */
}
.woocommerce-active .site-header .main-navigation{
  width: 100%;
}
.primary-navigation{
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

/* para el footer */
.site-footer{
  padding: 0rem;
  background-color: black;
}
footer .col-full{
  max-width: inherit;
  padding: 0rem;
}
.site-info{
  padding: 0rem;
  margin: 0rem;
}

body{
    /* font-family: Arial; */
}

/* para el header */
.site-search{
  margin: 1rem;
  min-width: 11rem;
}
.site-header-cart{
  min-width: 11rem;
}
.site-header .custom-logo-link img, .site-header .site-logo-anchor img, .site-header .site-logo-link img{
  height: 6rem;
  width: auto;
  margin-right:  2rem;
}
/* menu responsive */
.storefront-hamburger-menu-active .main-navigation .handheld-navigation, .storefront-hamburger-menu-active .main-navigation div.menu{
  overflow-y: hidden;
}


.t-white { color: #ffffff;}
.t-black { color: #000000;}
.b-white { background-color: #ffffff;}
.b-black { background-color: #000000;}
.t-black__hover:hover { color: #000000;}
.t-white__hover:hover { color: #ffffff;}
.t-right { text-align: right; }
.t-left{text-align: left;}
.t-center { text-align: center; }
.e-center {
  margin-left: auto;
  margin-right: auto;
}
.j-center {
  justify-content: center;
}
.j-end {
  justify-content: flex-end;
}
.j-start {
  justify-content: flex-start;
}
.a-center {
  align-items: center;
}
.a-start {
  align-items: flex-start;
}
.a-end {
  align-items: flex-end;
}
footer{
    font-family: "Montserrat";
}

@media (max-width: 767px){
  .site-footer{
    padding-bottom: 5rem;
  }
}
@media (max-width: 480px){
  .site-header .custom-logo-link img, .site-header .site-logo-anchor img, .site-header .site-logo-link img {
    margin-right: 1rem;
  }
  .storefront-primary-navigation .col-full{
    justify-content: inherit !important;
  }
}